    @import url("../../styles/global.css");

    main {
        display: flex;
    }

    section {
    width: 49.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* ocupa a tela toda */
    box-sizing: border-box;
    }

    h1{ 
        font-size: 32px;
        font-weight: 500;
        font-style: normal;
        color: var(--black);
    }

    .form-container {
        width: 62%;
        padding-top: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container > h1 {
        margin-top: 0;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 60px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .checkbox {
        flex-direction: row;
        gap: 6px;
        justify-content: flex-start;
        align-items: center;
    }

    .checkbox > label {
        font-size: 9px;
    }

    .title-wrapper {
        display: flex;
        justify-content: space-between;
    }

    main > img {
        width:50.8%;
        object-fit: cover;
        display: block;
        height: 100vh;
    }

    label {
        font-size: 14px;
        font-weight: 500;
        color: var(--black);
    }

    input[type="password"], input[type="email"], input[type="text"] {
        border: 1px solid var(--gray);
        border-radius: 10px;
        padding: 8.5px 10px;
    }

    input::placeholder {
        font-size: 10px;
        font-weight: 500;
        color : var(--gray);
        
    }

    a {
        font-size: 10px;
        font-weight: 500;
        color: var(--blue);
    }

    form button {
        height: 35.4px;
        background-color: var(--green);
        color: var(--white);
        border-radius: 10px;
        font-weight: 700;
        font-size: normal;
        cursor: pointer;
    }

    .divider {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 59px;
        gap: 4.5px;
    }

    .divider > p {
        font-size: 9px;
        font-weight: 500;
        color: var(--black);
    }

    .line{
        width: 100%;
        height: 2px;
        background-color: var(--border-gray);
    }

    .sso-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 23px;
        margin-top: 60px;
    }

    .sso-container img {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }

    .sso-container button {
        height: 32px;
        gap: 10px;
        padding: 4px 24px;
        border: 1px solid var(--border-gray);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;  
        font-size: 12px;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        cursor: pointer;
        transition: background-color 180ms ease, color 180ms ease, transform 150ms ease, border-color 180ms ease;

    }

    .sso-container button:hover {
        background-color: var(--light-gray);
        color: var(--black);           /* cor do texto ao passar o mouse */
        border-color: var(--blue);     /* opcional: ajustar a borda */
        transform: translateY(-2px);   /* pequeno destaque visual */
        outline: none;
    }

    .redirect-signup {
        font-size: 14px; 
        color: var(--black);
        margin-top: 25px;
        justify-self: center;
        gap: 10px;    
    }

    .redirect-signup a {
        color: var(--blue);
        font-size: 14px;  
    }

    body {
        margin: 0;
        padding: 0;
    }
