* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Poppins', sans-serif;
    background-color: #2563eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

background: linear-gradient(0deg, #050e25 0%, rgb(37, 82, 180) 100%);
    /* degrade azul claro para um escuro que deixa o fundo com uma pegada mais suave e leve */
}


.container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 450px;
    text-align: center;
}

.logo img {
    width: 90px;
    margin-bottom: 20px;

}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
}

input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
}

button.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button.btn:hover {
    background-color: #0056b3;
    transition: 0.3s;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
