* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #2563eb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #050e25 0%, rgb(37, 82, 180) 100%);
    /* degrade azul claro para um escuro que deixa o fundo com uma pegada mais suave e leve */
}

.container {
  width: 90%;
  max-width: 900px;
}

.login-box {
  display: flex;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.logo-side {
  flex: 1;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.logo {
  width: 260px;
}

.form-side {
  flex: 1;
  background: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin-bottom: 20px;
  color: #000;
}

.input-group {
  margin-bottom: 15px;
  position: relative;
}

.input-name {
    margin-bottom: 5px;
    display: block;
    color: #000;
    font-size: 14px;
}

.input-address {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 5px;
  color: #000;
}

.input-address a {
    font-size: 14px;
    color: #2563eb;
    text-decoration: none; /* Essa parada remove o sublinhado do link */
    }

    .input-icon {
        position: absolute;
        left: 12px;
        top: 50%;
    }

input {
  padding: 16px 16px 16px 45px; /* Adiciona espaço à esquerda para o ícone */
  width: 100%;
  border-radius: 11px;
  border: none;
  background-color: #f0edff;
  font-size: 14px;
  outline: none;
}

.btn {
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer; /* isso aqui muda o cursor quando passa por cima do botão */
  transition: 0.3s;
}

.btn:hover {
  background: #1d4ed8; /* Efeito para escurecer a cor ao passar o mouse, certo? yessssss */
}

.divider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.divider span {
  background: #fff;
  padding: 0 10px;
  color: #000;
  font-size: 14px;
  white-space: nowrap;    /* evita quebra de linha */
  z-index: 1;  /* garante que o texto fique acima das linhas */
}
.divider::before, 
.divider::after {
  content: "";
  flex: 1; /* ocupa espaço igual dos dois lados */
  height: 1px;
  background: #d7d3ff !important; /* cor da linha */
}

.google-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  background: white;
  cursor: pointer;
  transition: 0.3s;
}

.google-btn:hover {
  background: #f3f3f3;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

.signup-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.signup-link {
  color: #2563eb;
  text-decoration: none;
  font-weight: bold;
}

